<div id="i-have-a-room" class="row">
  <form class="col-md-8 col-md-offset-2 col-sm-12" {{action "submitForm" on="submit"}}>
    <h3>About You</h3>
    <div class="row">
      <div class="col-sm-3">
        {{input value=user.firstName type="text" class="form-control" placeholder="First Name"}}
        <label>First Name</label>
      </div>
      <div class="col-sm-3">
        {{input value=user.lastName type="text" class="form-control" placeholder="Last Name"}}
        <label>Last Name</label>
      </div>
      <div class="col-sm-3">
        {{input value=user.email type="email" class="form-control" placeholder="Email"}}
        <label>Email</label>
      </div>
      <div class="col-sm-3">
        {{input value=user.phoneNumber type="tel" class="form-control" placeholder="Phone"}}
        <label>Phone Number</label>
      </div>
    </div>

    <h3>Address</h3>
    <div class="row">
      <div class="col-sm-9">
        {{input value=address.line1 type="text" class="form-control" placeholder="Line 1"}}
        <label>Line 1</label>
      </div>
      <div class="col-sm-3">
        {{input value=address.apt type="text" class="form-control" placeholder="Apt"}}
        <label>Apt</label>
      </div>
    </div>

    <div class="spacer-sm"></div>

    <div class="row">
      <div class="col-sm-4">
        {{input value=address.city type="text" class="form-control" placeholder="City"}}
        <label>City</label>
      </div>
      <div class="col-sm-4">
        {{input value=address.state type="text" class="form-control" placeholder="State" maxlength="2"}}
        <label>State</label>
      </div>
      <div class="col-sm-4">
        {{input value=address.zipCode type="text" class="form-control" placeholder="Zip Code"}}
        <label>Zip Code</label>
      </div>
    </div>

    <h3>Room Info</h3>
    <p>Is your room furnished?</p>
    <div class="row">
      <div class="col-sm-12">
        <label class="radio-inline">
          {{input value=room.furnished type="radio" name="model[furnished]"}}Yes
        </label>
        <label class="radio-inline">
          {{input value=room.furnished type="radio" name="model[furnished]"}}No
        </label>
      </div>
    </div>

    <div class="spacer-md"></div>

    <p>Tell us what is included in your room:</p>
    <div class="row">
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox">Bed
        </label>
      </div>
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox">Closet
        </label>
      </div>
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox">Bathroom
        </label>
      </div>
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox">Rug
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox">TV
        </label>
      </div>
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox">Night Desk
        </label>
      </div>
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox">Wi-Fi
        </label>
      </div>
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox">Radio
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox">Drawer
        </label>
      </div>
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox">Cable
        </label>
      </div>
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox">Electricity
        </label>
      </div>
      <div class="col-sm-3">
        <label class="checkbox-inline">
          <input type="checkbox">Mirror
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <label>Other:</label>
        {{input value=room.other type="text" class="form-control"}}
      </div>
    </div>

    <div class="spacer-md"></div>

    <div class="row">
      <div class="col-sm-9 col-xs-8">
        Do you live in the home?
      </div>
      <div class="col-sm-3 col-xs-4">
        <label class="radio-inline">
          <input type="radio" name="room[resides]">Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="room[resides]">No
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9 col-xs-8">
        Sharing kitchen?
      </div>
      <div class="col-sm-3 col-xs-4">
        <label class="radio-inline">
          <input type="radio" name="room[sharedKitchen]">Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="room[sharedKitchen]">No
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9 col-xs-8">
        Sharing common bathroom?
      </div>
      <div class="col-sm-3 col-xs-4">
        <label class="radio-inline">
          <input type="radio" name="room[sharedBathroom]">Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="room[sharedBathroom]">No
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9 col-xs-8">
        Sharing living room?
      </div>
      <div class="col-sm-3 col-xs-4">
        <label class="radio-inline">
          <input type="radio" name="room[sharedLivingRoom]">Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="room[sharedLivingRoom]">No
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9 col-xs-8">
        Pets allowed?
      </div>
      <div class="col-sm-3 col-xs-4">
        <label class="radio-inline">
          <input type="radio" name="room[petsAllowed]">Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="room[petsAllowed]">No
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9 col-xs-8">
        Visitor policy
      </div>
      <div class="col-sm-3 col-xs-4">
        <label class="radio-inline">
          <input type="radio" name="room[visitorsAllowed]">Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="room[visitorsAllowed]">No
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <label>If yes what policy?</label>
        {{input value=model.visitorPolicy type="text" class="form-control"}}
      </div>
    </div>

    <h3>Rent Type</h3>
    <div class="row">
      <div class="col-sm-12">
        <label class="radio-inline">
          <input type="radio" name="room[rentType]" value="weekly">Weekly
        </label>
        <label class="radio-inline">
          <input type="radio" name="room[rentType]" value="biWeekly">Bi-weekly
        </label>
        <label class="radio-inline">
          <input type="radio" name="room[rentType]" value="monthly">Monthly
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <label>How much (dollar amount):</label>
        {{input value=room.rentAmount type="text" name="room[rentAmount]" class="form-control"}}
      </div>
    </div>

    <div class="spacer-md"></div>

    <button type="submit" class="btn btn-default">Submit</button>

    <div class="spacer-lg"></div>
  </form>
</div><!-- /.row -->
